/*리뷰 뷰어*/

.icon-img {
    overflow: hidden;
    width: 35px;
    height: 35px;
}
.icon-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-close {
    position: absolute;
    top: -5%;
    right: -5%;
}

.preview-container {
    position: relative;
    padding: 0 !important;
    height: 100%;
}

#review-book-info {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    color: #FFFFFF;
    text-shadow:
            -1px 0px rgba(0, 0, 0, 0.8),
            0px 1px rgba(0, 0, 0, 0.8),
            1px 0px rgba(0, 0, 0, 0.8),
            0px -1px rgba(0, 0, 0, 0.8);
}
.modal-body {
    padding-right: 5pt;
    width: 100%;
}

#contents-wrap {
    padding-right: 8pt;
    width: 100%;
    height: 540px;
    overflow-y: scroll;
    transition: all 0.2s ease-in-out;
}
#contents-wrap::-webkit-scrollbar {
    width: 5px !important;
}
#contents-wrap::-webkit-scrollbar-thumb {
    height: 10%; !important; /* 스크롤바의 길이 */
    background: #ddd; /* 스크롤바의 색상 */
    border-radius: 10px;
}
#contents-wrap::-webkit-scrollbar-track {
    background: #fff;  /*스크롤바 뒷 배경 색상*/
}

#content {
    margin-bottom: 2rem;
}

.comment-line {
    opacity: 0.1;
}

/* 댓글, 좋아요, 조회수 아이콘 */
.small-review-icons {
    padding: 5pt 0;
    justify-content: flex-end;
    margin-right: 5px;
    font-size: 1.2rem;
}

.small-review-icons .like-btn::before {
    cursor: pointer;
}

    /* 댓글 리스트 */
.comment-info {
    padding: 0.5rem 0;
    margin: 0.4rem 0;
}

.deleted-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    background: rgba(200, 200, 200, 0.1);

}

.comment-text {
    margin-left: 10px;
    width: calc(100% - 35px - 10px);
}

.comment-writer {
    font-weight: 600;
}

.no-comment-msg {
    color: #999999;
    justify-content: center;
}

.reply-btn {
    color: #888888;
    font-size: 0.9rem;
    word-break: keep-all;
}

.reply-btn:hover {
    color: #007aff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.reply-wrap {
    margin-left: 20pt;
    width: calc(100% - 20pt);
}

.more-reply-btn, .next-reply-btn, .close-reply-btn, .next-comment-btn {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.next-reply-btn, .close-reply-btn {
    display: none;
}

.reply-parent-writer {
    padding: 0;
    background: transparent;
    border: none;
    color: #666666;
    padding-right: 10pt;
    box-sizing: content-box;
}

.comment-more-btn {
    border: none;
    padding: 0 0.3rem;
}

/* 댓글 작성란 */
#my-comment-wrap {
    width: 100%;
}

#comment-area {
    flex: auto;
}
#comment-content {
    transition: all 0.2s ease-in-out;
    height: 50px;
    padding: 0.3rem 0.5rem;
    overflow-y: scroll;
}

.comment-editor {
    margin: 1rem 0;
}
.edit-comment-content {
    max-height: 90px;
    padding: 0.3rem 0.5rem;
    overflow-y: scroll;
}

#comment-btn, .edit-comment-btn {
    padding: 5px;
    width: 70px;
}

#login-user-name {
    font-weight: 600;
}

.invisible-parent-writer {
    display: none;
}

.parent-writer {
    padding: 0;
    background: transparent;
    border: none;
    color: #666666;
    padding-right: 10pt;
    box-sizing: content-box;
}

/* 관광지 정보 미리보기 */
#touritem-wrap {
    padding: 5px;
    position: absolute;
    z-index: 100;
    bottom: 3rem;
    left: 2rem;
}
.fa-location-dot{
    color: #000000;
    font-size: 25px;
}
#touritem-info {
    width: 15rem;
    position: absolute;
    bottom: -50%;
    right: 110%;
    display: none;
}
#touritem-info-title {
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 700;
}
#touritem-info-category {
    font-size: 0.8rem;
}
#touritem-name {
    font-size: 18px;
    color: #FFFFFF;
    text-shadow:
            -1px 0px rgba(0, 0, 0, 0.8),
            0px 1px rgba(0, 0, 0, 0.8),
            1px 0px rgba(0, 0, 0, 0.8),
            0px -1px rgba(0, 0, 0, 0.8);
}

#writer-info{
    cursor: pointer;
}
#writer-id {
    color: #999999;
}

#review-more-btn{
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

/* swiper */
.swiper {
    width: 100%;
    height: 750px;
    overflow: hidden;
}

.swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    color: #999999;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}