<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<header class="p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/index" class="navbar-brand d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <i class="bi bi-pin-map-fill m-auto text-dark"></i>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/tour/area" class="nav-link px-2" >여행정보</a></li>
                <li><a href="/planner" class="nav-link px-2">여행일정</a></li>
                <li><a href="/board" class="nav-link px-2">커뮤니티</a></li>
            </ul>

            <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" sec:authorize="isAuthenticated()" th:text="${#authentication.principal.name + '님 환영합니다.'}" ></div>
            <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" sec:authorize="isAnonymous()" >로그인 후 이용해주세요.</div>

            <div class="dropdown text-end">

                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle text-dark"></i>
                        </a>
                        <ul class="dropdown-menu text-small" style="">
                            <li><a class="dropdown-item" sec:authorize="isAnonymous()"  href="/login">로그인</a>
                                <a class="dropdown-item" sec:authorize="isAuthenticated()"  href="/logout">로그아웃</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" sec:authorize="isAnonymous()" href="/join">회원가입</a>
                                <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/mypage/{userId}(userId=${#authentication.principal.username})}">마이페이지</a></li>
                            </li>
                        </ul>
            </div>
        </div>
    </div>
</header>
</body>
</html>